
.exercise { margin-bottom: 50px; border-bottom: 2px; padding-bottom: 30px; }

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: #000000;
    padding: 10px 0;
}
.marquee-text {
    color: aliceblue;
    display: inline-block;
    font-weight: bold;
    animation: moveText 5s linear infinite;
}
@keyframes moveText {
    from { transform: translateX(3300%); }
    to { transform: translateX(-100%); }
}

.rotate-box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    animation: rotateBox 3s linear infinite;
}
@keyframes rotateBox {
    from { transform: rotate(0deg);
     }
    to { transform: rotate(360deg);
    }
}


.fade-container { display: flex; gap: 20px; justify-content: center; border-radius: 10px; }
.fade-img {
    width: 150px;
    height: 150px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
.img-1 { animation-delay: 1s; border-radius: 100px;}
.img-2 { animation-delay: 2s; border-radius: 100px;}
.img-3 { animation-delay: 3s; border-radius: 100px;}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.img-1:hover{transition:2s; transform:scale(1.2);border-radius: 10px;}
.img-2:hover{transition:2s;transform:scale(1.2);border-radius: 10px;}
.img-3:hover{transition:2s;transform:scale(1.2);border-radius: 10px;}


.cta-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    animation: blink 3s infinite alternate;
}
@keyframes blink {
    0% { background-color: rgb(255, 255, 255); transform: scale(1); }
    50% { background-color: rgb(0, 0, 0); transform: scale(1.2); }
    100% { background-color: rgb(255, 255, 255); transform: scale(1); }
}

/* Bài 5: Slider */
.slider-container {
    width: 600px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid #333;
}
.slides {
    display: flex;
    width: 300%; 
    animation: slide 3s infinite;
}
.slides img {
    width: 600px;
    height: 250px;
    object-fit: cover;
}
.slides img:hover {transition: 1s; transform: scale(1.1);}
@keyframes slide {
    0%, 30% { transform: translateX(0); }           
    33%, 63% { transform: translateX(-600px); }     
    66%, 96% { transform: translateX(0); }     
    100% { transform: translateX(-600); }               
}