
body {
    background-color: #eee;
    padding-bottom: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background: #fff;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.btn {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    color: white;
    transition: background-color .5s ease, color .5s ease;
}

.btn:hover {
    background-color: #ff8c00; }


.grid-gallery {
    width: 300px;
    display: grid;
    gap: 15px;
}

.img-box {
    overflow: hidden; 
    border-radius: 5px;
    height: 150px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 1s;
}

.img-box img:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.navbar ul {
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 3px;
    background-color: #ff8c00;
    transition: width 1s;
}

.navbar ul li a:hover::after {
    width: 100%; 
}



.card-grid {
    display: grid;
    width: 300px;
    gap: 20px;
}

.card {
    background: #aeaeae;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(0);
    transition: transform .3s ease, box-shadow .3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: 2s;
}

.card-content {
    padding: 15px;
    text-align: center;
    transition: 2s;
}
.card img:hover {
    zoom: 120%;
}


.banner {
    width: 100%;
    height: 200px;
    background: #007bff;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 30px;
}

.fade-in-text {
    font-size: 2.5rem;
    opacity: 0;
    animation: fade-in 5s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-130px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}